/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  color: mediumpurple;
  font-family: monospace;
}

img {
  height: 100%;
  width: 100%;
}
